.page-header
  %h1
    =image_tag(@user.facebook_avatar_url) if @user.facebook_avatar_url.present?  
    Edit user account
    %small
      =@user.display_name

= form_for [:admin, @user], :builder => AppFormBuilder do |f| 
  = render :partial => 'form', :locals => {:f => f, :text => 'Update User!'}
  =link_to "Cancel", admin_users_path, :class => 'btn btn-danger'