.page-header
  %h1
    Accounts
    %small
      All users who have authenticated with Facebook
%br
- if @users
  = page_entries_info @users, :model => 'User' 
%br
%table.table.table-striped
  %thead
    %tr
      %th
        Avatar
      %th
        Active?
      %th
        Admin?
      %th
        Display Name
      %th
        Email
      %th
        Created at
      %th
        Actions
  %tbody
    -@users.each do |u|
      %tr
        %td
          =image_tag(u.facebook_avatar_url) if u.facebook_avatar_url     
        %td
          =status_image u.active?
        %td
          =status_image u.admin?          
        %td
          =u.display_name
        %td
          =u.email
        %td
          =u.created_at.to_formatted_s(:short_with_year)
        %td
          %span{:style => 'white-space: nowrap'}
            =action_images [:admin, u], :exclude => [:index], :delete => {:title => 'Inactivate', :alt_text => 'Inactivate', :confirm => 'Are you sure you want to inactivate this user'}
      %tr
    %td{:colspan => 7}
      = will_paginate @users, :renderer => 'WillPaginateHelper::LinkRenderer'          
